@model Datos.Usuario

@{
    ViewBag.Title = "_Login";
}
@if (!Request.IsAuthenticated)
{
    <div class="modal fade" id="modalLogin" style="display: @ViewBag.Block">
        <div class="modal-dialog">
            <div class="modal-content">
                @using (Html.BeginForm("LogIn", "Cuenta"))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true)
                    <div class="modal-header naranjaFooter">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                        <h4 class="modal-title"><strong style="color: white">Ingresar</strong></h4>
                    </div>
                    <div class="modal-body">
                        <fieldset>
                            <div class="form-group">
                                <div class="input-group input-group">
                                    <span class="input-group-addon">
                                        <span class="glyphicon glyphicon-user"></span>
                                    </span>
                                    @Html.TextBoxFor(m => m.NoControl, new { @class = "form-control" })
                                </div>
                                @Html.ValidationMessageFor(m => m.NoControl)
                            </div>
                            <div class="form-group">
                                <div class="input-group input-group">
                                    <span class="input-group-addon">
                                        <span class="glyphicon glyphicon-lock"></span>
                                    </span>
                                    @Html.PasswordFor(m => m.Contraseña, new { @class = "form-control" })
                                </div>
                                @Html.ValidationMessageFor(m => m.Contraseña)
                            </div>
                            <div class="form-group">
                                <input type="checkbox"/>
                                <label>Recordarme</label>
                                @*@Html.CheckBoxFor(m => m.Recordarme)
                                @Html.LabelFor(m => m.Recordarme)*@
                            </div>
                        </fieldset>
                        <button type="submit" class="btn btn-success form-control">Entrar</button>
                    </div>
                }
            </div>
        </div>
    </div>

}